@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	--spacing: 2rem;

	--primary-color: rgb(0, 89, 255);
	--secondary-color: rgb(233, 217, 241);
	--tertiary-color: rgb(45, 12, 106);
	--bg-color: rgb(242, 242, 242);

	--h1-font-size: 2rem;
	--h2-font-size: 1rem;
	--s-font-size: .875rem;

	--h1-font-weight: 700;
	--h2-font-weight: 500;
	--s-font-weight: 300;

	--radius: 3rem;

	--primary-font: 'Schibsted Grotesk', sans-serif;
}

header {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing);
}

body {
	font-family: var(--primary-font);
    background: var(--bg-color);
    padding: var(--spacing);
    display: grid;
    gap: var(--spacing);
}


/* hgroup {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
} */


h1 {
    font-size: var(--h1-font-size);
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--primary-color);
}



h2 {
	font-size: var(--h2-font-size);
	color: var(--primary-color);
	font-weight: var(--h2-font-weight);
}


p {
	color: var(--primary-color);
	font-size: var(--s-font-size);
	font-weight: var(--s-font-weight);
}

@media (width>600px) {
	h1 {
		font-size: calc(var(--h1-font-size) * 2);
	}

	h2 {
		font-size: calc(var(--h2-font-size) * 1.5);
	}

	p {
		font-size: calc(var(--s-font-size) * 1.25);
	}
}


form {
	background-color: var(--secondary-color);
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
	border: .1rem solid var(--primary-color);

}

select {
	color: var(--primary-color);
	font-size: var(--h2-font-size);
    border-radius: var(--radius);
    border: .1rem solid var(--primary-color);
    cursor: pointer;
	padding-block: .5rem;
	padding-inline: .5rem;
    /* width: 100%; */
}


li {
	list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saved-questions {
	position: absolute;
  	right: var(--spacing);
}


.generate-button,
.next-button {
	color:var(--primary-color);
	background-color: var(--tertiary-color);
	font-size: var(--h2-font-size);
	max-width: 7rem;
	padding-block: .5rem;
	padding-inline: 1rem;
	border-radius: var(--radius);
	border: .1rem solid var(--primary-color);
}


.saved-questions,
#save,
.close-button,
#start-button {
	color:var(--tertiary-color);
	background-color: var(--secondary-color);
	font-family: var(--primary-font);
	font-size: var(--s-font-size);
	max-width: 13rem;
	padding-block: .5rem;
	padding-inline: 1rem;
	border-radius: var(--radius);
	border: .1rem solid var(--primary-color);
	margin: .2rem;
}


dialog {
	border: .1rem solid var(--primary-color);
	border-radius: var(--radius);
	padding: var(--spacing);
	background-color: var(--bg-color);
}


#convo-prompts {
	/* background: var(--secondary-color); */
	color: var(--primary-color);
	padding: var(--spacing);
	border-radius: var(--radius);
}
