body {
	--spacing: 2rem;

	display: grid;
	gap: var(--spacing);
	margin: initial;
	padding: var(--spacing);

	--primary-color: darkmagenta;
	--secondary-color: rgb(234, 232, 229);

	--small-font-size: .8rem;

}

form {
	background-color: whitesmoke;
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
}

li {
	list-style: none;
}

.generate-button {
	color:var(--primary-color);
	background-color: var(--secondary-color);
	border: none;
	font-size: var(--small-font-size);
	width: 5rem;
	padding-block: .3rem;
	border-radius: 1rem;
}


.next-button {
	color:var(--secondary-color);
	background-color: var(--primary-color);
	border: none;
	font-size: var(--small-font-size);
	width: 5rem;
	padding-block: .3rem;
	border-radius: 1rem;
}
