@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	--spacing: 2rem;

	--primary-color: rgb(0, 89, 255);
	--secondary-color: rgb(229, 241, 217);
	--tertiary-color: rgb(45, 12, 106);
	--bg-color: rgb(242, 242, 242);

	--h1-font-size: 2rem;
	--h2-font-size: 1rem;
	--s-font-size: .875rem;

	--h1-font-weight: 700;
	--h2-font-weight: 500;
	--s-font-weight: 300;

	--primary-font: 'Schibsted Grotesk', sans-serif;
}
	font-family: var(--primary-font);
    background: var(--bg-color);
    font-size: var(--h1-font-size);

	--primary-color: darkmagenta;
	--secondary-color: rgb(234, 232, 229);
h2 {
	font-size: var(--h2-font-size);
	color: var(--primary-color);
	font-weight: var(--h2-font-weight);
}

p {
	color: var(--primary-color);
	font-size: var(--s-font-size);
	font-weight: var(--s-font-weight);
}
		font-size: calc(var(--h1-font-size) * 2);

		font-size: calc(var(--h2-font-size) * 1.5);

		font-size: calc(var(--s-font-size) * 1.25);
}

form {
	background-color: whitesmoke;
	background-color: var(--secondary-color);
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
}

	font-size: var(--h2-font-size);
    border: .1rem solid var(--primary-color);
li {
	list-style: none;
}

nav {
	display: flex;
	align-items: center;
}

.saved-questions {
	position: absolute;
  	right: var(--spacing);
}

.generate-button {
	color:var(--primary-color);
	background-color: var(--tertiary-color);
	font-size: var(--h2-font-size);
	background-color: var(--secondary-color);
	border: none;
	font-size: var(--small-font-size);
	width: 5rem;
	padding-block: .3rem;
	border-radius: 1rem;
	font-size: var(--s-font-size);
}


.next-button {
	color:var(--secondary-color);
	background-color: var(--primary-color);
	border: none;
	font-size: var(--small-font-size);
	width: 5rem;
	padding-block: .3rem;
	border-radius: 1rem;
	background-color: var(--bg-color);
	color: var(--primary-color);
}
